@charset "utf-8";
		#allDiv{
		margin:0 auto;
		width:1000px;
		height:730px;
		border:1px solid #808080;
		background-color: #f7f4f7;
		}
		#headerDiv{
			width:1000px;
			height:90px;
			border:1px solid #808080;
		}
		#middleDiv{
			width: 1000px;
			height:635px;
			border:1px solid #808080;
		}
		#leftDiv{
			width: 150px;
			height: 90%;
			border:1px solid #808080;
			float:left;
			background-color: #c0c0c0;
		}
		#rightDiv{
			width: 840px;
			height: 90%;
			border:1px solid #808080;
			float:left;
		}
		#topDiv{
			width: 100%;
			height:60%;
			border:1px solid #808080;
		}
		#bottomDiv{
			width: 100%;
			height:40%;
			border:1px solid #808080;
		}
		#footDiv{
			width: 1000px;
			height:60px;
			border:1px solid #808080;
		}
		#clearBoth{
				clear:both;
		}	
		ul{
			list-style:none;
			float:left;
			margin-left:5px;
		}
		.li{
			float:left;
			font-size:20px;
			margin-left:20px;
		}
		a:link {
			color:#FFA500;
			font-weight:bold;
			text-decoration:blink;
		}
		a:visited {
			color:#2828FF;
			text-decoration:blink;
		}
		a:hover {
			color:#7FFFD4;
			text-decoration:blink;
		}
		a:active {
			color:#9370DB;
			text-decoration:blink;
		}
		#photo{
			width:50px; 
			height:50px;
			margin-top: 20px;
		}
		#banner{
			width:1000px;
		}